/* Style Paragraphs w/ Two Rules) */
p {
    font-size: 14px;
    font-family: Georgia, serif;
}

/* Style Level Two Headers w/ Two Rules) */
h2 {
    color: #B80C09;
    font-family: Georgia, serif;
}

/* Style Table w/ Border and Color */
table, th, td {
    border-style: solid;
    border-color: #B80C09;
    border-collapse: collapse;
}

/* ID for Third Paragraph */
#special-third {
    color: #6B2B06;
    font-weight: bold;
    font-style: italic;
}

.red {
    color: #B80C09;
}