<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>Hello!</h1>
    <h2>About Me</h2>
    <p>My name is <strong>Angela Vo</strong> and I'm at a senior at University of Maryland, College Park.</p>
    <p>A little about me is that I'm a double major in <strong>Accounting</strong> and <strong>Information Systems</strong>.
        After graduating from Robert H. Smith School of Business, I plan to have an accounting position at company I'm
        passionate about. Some industries that I am are interested are textile and hospitality.</p>

    <!--Courses in Table Format-->
    <h2>Courses</h2>
    <p>Here are the Information Systems courses I took over my 3-4 years in college:</p>
    <table>
        <tr>
            <th>Courses</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT301</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2025</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Spring 2026</td>
        </tr>
    </table>

    <!--Hobbies in Ordered List-->
    <h2>Hobbies</h2>
    <p>Besides my academic, here are activities I like to do in my free time.
        I ordered them to my most favorite to my least favorite:</p>
    <ol>
        <li>Reading</li>
        <li>Knitting</li>
        <li>Baking</li>
        <li>Gardening</li>
        <li>Running</li>
    </ol>

    <!--Reading List in Unordered List-->
    <h2>Reading List</h2>
    <p>Expanding on my love for reading, I wanted to share some
        of my favorites books:</p>
    <ul>
        <li><em>The Joy Luck Cub</em></li>
        <li><em>Atomic Habits</em></li>
        <li><em>Heal Your Career Wounds</em></li>
        <li><em>THE CHERRY TREE THEORY</em></li>
        <li><em>How to Talk to Anyone, Anytime, Anywhere</em></li>
    </ul>
    <!--Two Favorite Website + Open New Browser Tabs-->
    <p>Besides these traditional published books, I also enjoyed
        online novels. My favorite websites for these types of novels are
        <a href="https://www.novelupdates.com/" target="_blank">Novel Updates</a> and
        <a href="https://www.royalroad.com/home" target="_blank">Royal Road</a>.
        Definitely recommend as well!</p>

    <h2>Check Out My Other Pages!</h2>
    <ul>
        <li><a href="/hello">Homepage</a></li>
    </ul>

<!--Image of Smith Logo + (optional) New Browser Tab to Smith Webpage-->
    <a href="https://www.rhsmith.umd.edu/"
       target="_blank">
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="401"
         height="108"
         alt="Smith Logo"
    >
    </a>
</body>
</html>